@font-face {

font-family: Montserrat;

src: url("../public/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf");
}


@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  --animate-fadeIn: fadeIn 0.3s ease-in-out;
}


@plugin "daisyui" {

themes: night --default;
}

